fastapi
uvicorn
python-socketio
redis
langchain
langchain-community
langchain-openai
langchain-google-genai
google-genai
python-dotenv
pydantic
pypdf
openai
supabase
celery
pymupdf4llm
pymupdf
flashrank
scikit-learn
numpy
python-multipart

ragas
datasets
